.uplift-block {
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px #808080 solid;
  display: inline-block;
  width: 125px;
  margin: .3em;
  overflow: hidden;
  @media (max-width: 1200px) {
    width: 100px;
    margin: .1em;

    .header {
      font-size: .8em;
    }
  }
  @media (max-width: 768px) {
    display: block;
    width: auto;
    margin: .5em;

    .header {
      font-size: 1em;
    }
  }

  .header {
    display: block;
    padding: .3em .5em;
    font-weight: bold;
  }

  .input-row {
    vertical-align: top;
    display: block;
    padding: 0;
    border-top: 1px #808080 solid;

    .radio {
      width: 50%;
      display: inline-block;
      margin: 0;
      background: #ccc;
      border-right: 1px #808080 solid;
      padding: .4em;
      text-align: center;

      input {
        display: block;
        float: left;
        margin: .3em;
      }

      label {
        display: block;
        margin: 0;
      }
    }

    .input {
      vertical-align: top;
      width: 50%;
      display: inline-block;

      input {
        display: block;
        width: 100%;
        border: 0;
        outline: 0;
        background: transparent;
        box-sizing: border-box;
        padding: .4em;
        text-align: center;
      }
    }
  }
}
