.component-header {
  padding: .5em 0;

  .title {
    font-weight: 700;
    text-transform: uppercase;
    padding-right: .5em;
    background: #fff;

    &::before {
      display: block;
      content: ' ';
      background: #000;
      width: 100%;
      height: 2px;
      top: 1.15em;
      position: absolute;
      z-index: -1;
    }
  }

  .description {
    padding: 1em .5em;
  }
}
