/**
 * Styles for MessageBox component
 */

.message-box {
  @mixin messagebox-icon {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    font-size: 16px;
    position: relative;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    color: #fff;
  }

  .icon-ok {
    @include messagebox-icon;
    background-color: #5cb85c;
  }

  .icon-remove {
    @include messagebox-icon;
    background-color: #d9534f;
  }

  .icon-alert {
    @include messagebox-icon;
    background-color: #f0ad4e;
  }
}
