/**
 * Styles for App layout
 */

#root {
  .header {
    .brand {
      margin-top: -3px;
      font-size: 1.75rem;
      text-decoration: none;
    }

    .brand-title {
      margin-left: 20px;
    }

    .logo {
      display: inline !important;
    }

    .navbar {
      .link {
        padding: 3px 0;
      }

      .link > a,
      .link:active > a,
      .link:visited > a {
        font-size: 1.6rem;
        color: rgba(255, 255, 255, .6) !important;
      }

      .link:hover > a {
        color: rgba(255, 255, 255, 1) !important;
      }

      .highlight {
        background: rgba(0, 0, 0, .15);
      }

      .highlight:hover {
        background: rgba(0, 0, 0, .3);
      }
    }
  }

  .footer {

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
    margin-top: 40px;
    padding: 20px 15px;
    text-align: center;

    .text {
      color: rgba(255, 255, 255, .5);
    }

    .spacer {
      color: rgba(255, 255, 255, .3);
    }

    .text,
    .link {
      padding: 2px 5px;
      font-size: 1em;
    }

    .link,
    .link:active,
    .link:visited {
      color: rgba(255, 255, 255, .6);
      text-decoration: none;
    }

    .link:hover {
      color: rgba(255, 255, 255, 1);
    }

  }

  #content {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .breadcrumb {
    margin: 20px 0 10px;
  }

  .page-header {
    padding-bottom: 0;
    margin: 20px 0;

    h2 {
      padding: 0 20px;
    }
  }

}
